<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Listado de productos</h1>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <img src="<%= product.image || 'https://imgs.search.brave.com/65oFsI1cszj1f8cliOT7XOz82gZrC8_J5tjiTZkiRLA/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA0LzYyLzkzLzY2/LzM2MF9GXzQ2Mjkz/NjY4OV9CcEVFY3hm/Z011WVBmVGFJQU9D/MXRDRHVybXNubzdT/cC5qcGc' %>" alt="<%= product.name %>">
        <div class="details">
          <strong><%= product.name %></strong>
          <span><%= product.description %></span>
          <span>$<%= product.price %></span>
        </div>
      </li>
    <% }); %>
  </ul>
  <a href="/products/new">Agregar nuevo producto</a>
  <form action="/products/deleteAll" method="POST">
    <button type="submit">Eliminar todos los productos</button>
  </form>
</body>
</html>
